name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-release:
    name: Build and Release
    uses: azazo1/rust-workflows/.github/workflows/build-and-release.yml@main
    permissions:
      contents: write
    with:
      create_prerelease: true
      dry_run: false
      cache_prefix_key: "v0-rust"
      package_name: translate-ipynb
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}